@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    
    font-display: swap;
    
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    
    font-display: swap;
    
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/ptsans-400-italic.woff2") format("woff2");
    
    font-display: swap;
    
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/ptsans-700-italic.woff2") format("woff2");
    
    font-display: swap;
    
  }

 body {
    font-family: "PT Sans" sans-serif;


    font-size:16px;
    line-height:24px;
    color:#242424;
    background-color:#FFFFFF;

  }
.page-header {
    color:#242424;
    background: #FFFFFF;
}

.navigation-link {
    font-family:"PT Sans" sans-serif;
    line-height:24px;
    color:inherit;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase; 
}
.welcome-title {
  font-family:"PT Sans" sans-serif;
    font-size:30px;
    line-height:36px;
    line-height:93%;
    color:inherit;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    vertical-align: top;

}
.welcome-description {
  font-family:PT Sans;
  font-style:regular;
  font-size:22px;
  line-height:36px;
  line-height:126%;
  text-align:center;
  vertical-align:top;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url("images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

.search-title {
font-family:PT Sans;
font-style:Bold;
font-size:30px;
line-height:36px;
line-height:93%;
text-align:Center;
vertical-align:Top;
}
.search-discription {
font-family:PT Sans;
font-style:regular;
font-size:22px;
line-height:26px;
line-height:91%;
text-align:Center;
vertical-align:top;
}
.search-button-div {
font-family:PT Sans;
font-style:bold;
font-size:20px;
line-height:36px;
line-height:139%;
text-align:center;
vertical-align:top;
margin: 0 auto;
width: 575px;
height: 60px;
left: 904px;
top: 145px;
background:#756257 ;
border-radius: 10px;
}


.subscribe-title {
font-family:PT Sans;
font-style:Bold;
font-size:30px;
line-height:36px;
line-height:93%;
text-align:center;
vertical-align:top;
}

.subscribe-discription {
font-family:PT Sans;
font-style:regular;
font-size:22px;
line-height:26px;
line-height:91%;
text-align:center;
vertical-align:top;
}

.subscribe-form {
text-align:center;
}
.subscribe-email {
height: 60px;
left: 840px;
right: -160px;
bottom: 214px;

}
  
/* List */
.advantages-list {
    text-align: center;
  }
  
  /* Title */
  .advantages-title {
    font-family: "PT Sans" sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
  