@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    
    font-display: swap;
    
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    
    font-display: swap;
    
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/ptsans-400-italic.woff2") format("woff2");
    
    font-display: swap;
    
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/ptsans-700-italic.woff2") format("woff2");
    
    font-display: swap;
    
  }

 body {
    font-family: "PT Sans" sans-serif;


    font-size:16px;
    line-height:24px;
    color:#242424;
    background-color:#FFFFFF;

  }
.page-header {
    color:#242424;
    background: #FFFFFF;
}
.navigation-link {
    font-family:"PT Sans" sans-serif;
    line-height:24px;
    color:inherit;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase; 
}

.main-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url("images/index-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  
/* List */
.advantages-list {
    text-align: center;
  }
  
  /* Title */
  .advantages-title {
    font-family: "PT Sans" sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
  