@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans" "Open Sans" sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #FFFFFF;

}

.page-header {
  color: #242424;
  background: #FFFFFF;
}

.navigation-link {
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.welcome-title {
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;

}

.welcome-description {
  line-height: 36px;
  text-align: center;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("/images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-item-content {
  width: 400px;
  background-color: #83B3D3;
}

.advantages-item-name {
  width: 400px;
  min-height: 60px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;


  text-align: center;
  text-transform: uppercase;
}

.advantages-item-number {
  font-size: 18px;
  line-height: 21px;

  text-transform: uppercase;


  color: #FFFFFF;
}

.advantages-item-description {
  width: 220px;
  height: 73px;

  font-size: 18px;
  line-height: 21px;

  text-align: center;
  color: #FFFFFF;

}

.advantages-image {
  width: 800px;
  min-height: 384px;
 
  background: url(photo-1.jpg);
}

.services-item {
  width: 400px;
  min-height: 384px;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.search-title {
  line-height: 36px;
  text-align: Center;
}

.search-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: Center;
  vertical-align: top;
}

.search-button {
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  width: 575px;
  min-height: 60px;
  
  background: #756257;
  border-radius: 10px;
}

.subscribe-button {
  width: 200px;
  height: 60px;

  font-size: 20px;
  line-height: 26px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  width: 200px;
  height: 60px;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  line-height: 93%;
  text-align: center;
}

.subscribe-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  text-align: center;
}

.subscribe-email {
  height: 60px;
  left: 840px;
  right: -160px;
  bottom: 214px;

}

/* List */
.advantages-list {
  text-align: center;
}

/* Title */
.advantages-title {
  font-family: "PT Sans"sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
}

.page-footer a {
  color: #000000;
}

.page-footer .htmlacademy-link {
  font-size: 14px;
  color: #dbb590;
}
